.exercise-marked {
  text-decoration: line-through;
  background-color: #c6f6d5 !important;
  color: #1a202c !important;
  font-weight: bold;
}
.react-calendar {
  background-color: white;
  color: black;
}

body.dark .react-calendar {
  background-color: #1a1a1a;
  color: white;
}

.react-calendar__tile.line-through {
  text-decoration: line-through;
  color: #ff6347;
}
